   body{background-color: #08767D; box-sizing: border-box; font-family: Arial;}
                 h2 {
                   font-style:Arial;
                   font-weight:bold;
                   font-size:2em;
                  
                   
                 }

                 table
                   { 
                   margin: auto;
                   background-color: #1AC3B9;
                   text-align:left;
                   border-collapse:collapse;
                   width: 70%;
                   
                   }
                  
                   td,th
                   {
                    padding:20px;   
                   }
                   thead
                   {
                   background-color:#01867F;
                   border-bottom: solid 5xp;
                   color: white
                   }
		input[type=text], input[type=password]{
			padding: 10px;
			width: 380px;
		}
		input[type="submit"]{
			border: 0;
			background-color: #ED8824;
			padding: 10px 20px;
		}

		.error{
			background-color: #FF9185;
			font-size: 12px;
			padding: 10px;
		}
		.correcto{
			background-color: #A0DEA7;
			font-size: 12px;
			padding: 10px;
		}
